name: Deploy to DSM via SSH

on:
  push:
    branches:
      - develop
      

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Deploy to DSM via SSH
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.DSM_HOST }}
          username: ${{ secrets.DSM_USER }}
          password: ${{ secrets.DSM_PASS }}
          source: "build/*"
          target: "/volume1/docker/lumjack_ui/build"

